.grid{
    margin:0 auto;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 1em;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.bg-dark{
    background-color: #2d3047!important;
}

.py-3{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.align-items-stretch{
    align-items: stretch !important;
}

.border-dark{
    border-color: #212529 !important;
}

.border-bottom{
    border-bottom: 1px solid #dee2e6 !important;
}

.d-flex{
    display: flex !important;
    margin: auto;
}

.text-white{
    color: #fff !important;
}

.fs-4{
    font-size: 2rem !important;
}

.mb-0{
    margin-bottom: 0!important;
}

h1{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#container-guide ul{
    list-style-type: none;
    display: inline-flex;
    margin: 0 auto;
}

#container-guide li{
    margin-right: 8vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

img{
    top: 0.35em;
    position: relative;
}

p{
    font-family: 'Itim', cursive;
    font-size: 1.2em;
    margin-bottom: 0;
}

button{
    margin-top: 0.5vw;
    margin-right: 3vw;
}

button:hover{
    cursor: pointer;
}

.ghost{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 0.6vw;
    border: 0.2em solid #494949 !important;
    border-radius: 0.5em;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.ghost:hover{
    color: #ffffff !important;
    transition: all 0.4s ease 0s;
}

.reset:hover{
    background: #c3423f;
    border-color: #c3423f !important;
}

.path:hover{
    background: #3066be;
    border-color: #3066be !important;
}

.walls:hover{
    background: #f7b801;
    border-color: #f7b801 !important;
}

.animated{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    background: #ffffff;
    padding: 0.6vw;
    border-radius: 0.5em;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.greedy{
    color: #058C42 !important;
    border: 0.2em solid #058C42 !important;
}

.dijkstra{
    color: #A663CC !important;
    border: 0.2em solid #A663CC !important;
}

.animated:hover{
    color: #494949 !important;
    border-radius: 2em;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}

.aStar{
    color: #00A1E4 !important;
    border: 0.2em solid #00A1E4 !important;
}

.dfs{
    color: #FC5130 !important;
    border: 0.2em solid #FC5130 !important;
}

.bfs{
    color: #9C0D38 !important;
    border: 0.2em solid #9C0D38 !important;
}

